Bulk-2 Search for or Create Candidates.json
{
  "name": "Bulk-2 Search for or Create Candidates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9ddc6dd0-d758-4b17-8ff0-efe8988e577f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        112
      ],
      "id": "0a450b95-3a7a-498d-8939-5310ca95d217",
      "name": "Webhook",
      "webhookId": "9ddc6dd0-d758-4b17-8ff0-efe8988e577f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1616,
        144
      ],
      "id": "b394eb17-a764-4753-9fca-6479b45a16a0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "candidates",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -32,
        112
      ],
      "id": "b7f41fc5-e90e-4694-a922-bf4ddc649a89",
      "name": "Extract Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83d509ae-aa0c-498d-a67c-8ba051cb5329",
              "name": "candidates",
              "value": "={{ $json.body.contacts }}",
              "type": "array"
            },
            {
              "id": "17df6772-82c6-4fb3-aa3a-60ec9084e83c",
              "name": "user",
              "value": "={{ $json.body.user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        112
      ],
      "id": "00492ecb-6ed4-4538-9623-1a00be081d39",
      "name": "Turn to body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n        {\n          \"filters\": [\n            {\n              \"propertyName\": \"hs_linkedin_url\",\n              \"operator\": \"CONTAINS_TOKEN\",\n              \"value\": \"{{ $json[\"Profile URL\"] }}\"\n            }\n          ]\n        },\n        {\n          \"filters\": [\n            {\n              \"propertyName\": \"firstname\",\n              \"operator\": \"EQ\",\n              \"value\": \"{{ $json['First Name'] }}\"\n            },\n            {\n              \"propertyName\": \"lastname\",\n              \"operator\": \"EQ\",\n              \"value\": \"{{ $json['Last Name'] }}\"\n            }\n          ]\n        }\n      ],\n\"properties\": [\"firstname\", \"lastname\", \"email\", \"hs_linkedin_url\"],\n      \"limit\": 1\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        112
      ],
      "id": "7ef8dd47-6c5d-470d-af1b-dce554245f4b",
      "name": "Search for candidate in linkedin",
      "credentials": {
        "hubspotAppToken": {
          "id": "h4kU0qW2B2OnOiJP",
          "name": "HubSpot account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        128
      ],
      "id": "89b48356-ed2d-4d85-8ff2-43febedc12b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        144
      ],
      "id": "3c85df4c-5ef6-491e-bfa8-1d01ad3d7b9f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2511b95-c471-4843-8e72-6473235b4f34",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        96
      ],
      "id": "85769643-8541-49bf-9840-8bbc558970a1",
      "name": "If Candidate Exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "984f8371-fb3a-4e7c-a504-5600db9e59f1",
              "name": "First",
              "value": "={{ $json.results[0].properties.firstname }}",
              "type": "string"
            },
            {
              "id": "38b5657d-b2b6-4f4a-b953-d0f91e2ef517",
              "name": "Last",
              "value": "={{ $json.results[0].properties.lastname }}",
              "type": "string"
            },
            {
              "id": "a19e6985-a503-4e7f-947d-67ddd2b3418a",
              "name": "Already in Hubspot?",
              "value": "🔍 Contact Found",
              "type": "string"
            },
            {
              "id": "57278447-4925-464d-94de-c9fd5fce6a7a",
              "name": "Hubspot_ID",
              "value": "={{ $json.results[0].properties.hs_object_id }}",
              "type": "string"
            },
            {
              "id": "f43bc973-acfb-4438-89f3-411fd43b8320",
              "name": "URL",
              "value": "={{ $json.results[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -128
      ],
      "id": "36dc8f20-18c8-4c2b-ba7e-be29dc0d0dfb",
      "name": "Response for found contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "984f8371-fb3a-4e7c-a504-5600db9e59f1",
              "name": "First",
              "value": "={{ $json.properties.firstname }}",
              "type": "string"
            },
            {
              "id": "38b5657d-b2b6-4f4a-b953-d0f91e2ef517",
              "name": "Last",
              "value": "={{ $json.properties.lastname }}",
              "type": "string"
            },
            {
              "id": "f21cab46-c317-4499-932a-f5c9a60cf018",
              "name": "Already in Hubspot?",
              "value": "✅ Candidate Created",
              "type": "string"
            },
            {
              "id": "57278447-4925-464d-94de-c9fd5fce6a7a",
              "name": "Hubspot_ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f43bc973-acfb-4438-89f3-411fd43b8320",
              "name": "URL",
              "value": "=https://app.hubspot.com/contacts/45123452/record/0-1/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        144
      ],
      "id": "14b96be4-bbe4-444a-b09c-43caa03fb96e",
      "name": "Response for created contact"
    },
    {
      "parameters": {
        "content": "## Get response from dashboard\n- Get RocketReach enriched candidates\n- parse body\n- breakout",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -48
      ],
      "typeVersion": 1,
      "id": "bf8f9c5f-d72d-4765-beec-500245ab7325",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Search hubspot\n- Search hubspot based on linkedin url (prefered) or contact F+L name\n- Route based on if candidate exists in hubspot or not",
        "height": 320,
        "width": 368,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -48
      ],
      "typeVersion": 1,
      "id": "718d10aa-ade1-4df8-8ab3-061ea1671bfa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If we have a candidate create, response\n",
        "height": 272,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -224
      ],
      "typeVersion": 1,
      "id": "818542f1-76f3-47d7-b4c7-298a6bc7b922",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create candidate if we have email\n",
        "height": 240,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        64
      ],
      "typeVersion": 1,
      "id": "e250b633-ac8f-4886-b11b-d9283e60d739",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create candidate without email\n- placeholder email firstname.lastname@placeholder.com\n",
        "height": 288,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        320
      ],
      "typeVersion": 1,
      "id": "e5d32da7-a3a5-4569-b888-b9be2de71006",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Send back to dashboard\n- merge response bodies\n- aggregate into single json\n- send back to dahsboard",
        "height": 336,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        -16
      ],
      "typeVersion": 1,
      "id": "fe7fea6a-d13d-40f6-bbf3-45586f7603c0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"Error\": \"Error, tell gabe to check logs\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        704
      ],
      "id": "c0ce8cd3-8de6-42c6-9955-c2eb84cf329e",
      "name": "Respond with error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6be23d30-7bee-4646-858a-66774f9d4c55",
              "leftValue": "={{ $('Extract Body').item.json.recommended_personal_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        176
      ],
      "id": "fb29757b-738a-452f-b06e-cd22d45005b4",
      "name": "If we have email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $('Extract Body').item.json['First Name'] }}\",\n    \"lastname\": \"{{ $('Extract Body').item.json['Last Name'] }}\",\n    \"jobtitle\": \"{{ $('Extract Body').item.json['Current Title'] }}\",\n    \"email\": \"{{ $('Extract Body').item.json.recommended_personal_email }}\",\n    \"company\": \"{{ $('Extract Body').item.json['Current Company'] }}\",\n    \"city\": \"{{ $('Extract Body').item.json.Location }}\",\n    \"hs_linkedin_url\": \"{{ $('Extract Body').item.json['Profile URL'] }}\",\n    \"bulk_upload_user\": \"{{ $('Turn to body').item.json.user }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        160
      ],
      "id": "3e181ed1-8092-4da1-8505-717b38760307",
      "name": "Create Contact w/Email",
      "credentials": {
        "hubspotAppToken": {
          "id": "MSTWyHYOlv2E9Zg8",
          "name": "W/Read and Write"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "984f8371-fb3a-4e7c-a504-5600db9e59f1",
              "name": "First",
              "value": "={{ $json.properties.firstname }}",
              "type": "string"
            },
            {
              "id": "38b5657d-b2b6-4f4a-b953-d0f91e2ef517",
              "name": "Last",
              "value": "={{ $json.properties.lastname }}",
              "type": "string"
            },
            {
              "id": "f21cab46-c317-4499-932a-f5c9a60cf018",
              "name": "Already in Hubspot?",
              "value": "✅ Candidate Created",
              "type": "string"
            },
            {
              "id": "57278447-4925-464d-94de-c9fd5fce6a7a",
              "name": "Hubspot_ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f43bc973-acfb-4438-89f3-411fd43b8320",
              "name": "URL",
              "value": "=https://app.hubspot.com/contacts/45123452/record/0-1/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        416
      ],
      "id": "ba9a24d2-ee8e-4ea2-8554-cda0ffe9da90",
      "name": "Response for created contact1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $('Extract Body').item.json['First Name'] }}\",\n    \"lastname\": \"{{ $('Extract Body').item.json['Last Name'] }}\",\n    \"jobtitle\": \"{{ $('Extract Body').item.json['Current Title'] }}\",\n    \"company\": \"{{ $('Extract Body').item.json['Current Company'] }}\",\n    \"city\": \"{{ $('Extract Body').item.json.Location }}\",\n    \"hs_linkedin_url\": \"{{ $('Extract Body').item.json['Profile URL'] }}\",\n    \"bulk_upload_user\": \"{{ $('Turn to body').item.json.user }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        432
      ],
      "id": "49f1ed32-974c-45eb-9ba0-8f31fcafefe8",
      "name": "Create Contact w/Email1",
      "credentials": {
        "hubspotAppToken": {
          "id": "MSTWyHYOlv2E9Zg8",
          "name": "W/Read and Write"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "revelone.app.n8n.cloud",
            "user-agent": "python-requests/2.32.5",
            "content-length": "12179",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2601:282:1400:b00::7780",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9bd69f68324f2d49-DEN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2601:282:1400:b00::7780, 172.68.2.99",
            "x-forwarded-host": "revelone.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-dnzwc",
            "x-is-trusted": "yes",
            "x-real-ip": "2601:282:1400:b00::7780"
          },
          "params": {},
          "query": {},
          "body": {
            "user": "gweiner@revel-one.com",
            "contacts": "[{\"First Name\":\"Avelyn\",\"Last Name\":\"Austin\",\"Headline\":\"Chief Revenue Officer (CRO) @ LGND The Creative Studio & LGNDX The Product Studio\",\"Location\":\"Washington\",\"Current Title\":\"Chief Revenue Officer (CRO)\",\"Current Company\":\"LGND\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/avelynaustin\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":\"avelyn.austin@gmail.com\"},{\"First Name\":\"Allyson\",\"Last Name\":\"Cochran\",\"Headline\":\"CRO @ Silverback Strategies | Helping Execs Separate Hype from What Drives Growth |  Founder @ Ally for Moms | Unapologetic Georgia Bulldog Fan\",\"Location\":\"Washington DC-Baltimore Area\",\"Current Title\":\"Chief Revenue Officer\",\"Current Company\":\"Silverback Strategies\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/allysoncochran\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"allysonpcochran@gmail.com\"},{\"First Name\":\"Lyndsay\",\"Last Name\":\"Radlowski \",\"Headline\":\"VP of Sales at NPAccel at NP Digital\",\"Location\":\"Portland, Oregon Metropolitan Area\",\"Current Title\":\"Vice President of Sales\",\"Current Company\":\"NP Digital\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/lyndsaycanada\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"lyndsay.canada@gmail.com\"},{\"First Name\":\"Peter\",\"Last Name\":\"Twombly\",\"Headline\":\"Global Chief Growth Officer \\/ Consultant - Open to full-time & consulting opportunities.\",\"Location\":\"Greater Boston\",\"Current Title\":\"Global Chief Growth Officer \",\"Current Company\":\"Ocean Media\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/petertwombly\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"petertwombly@yahoo.com\"},{\"First Name\":\"Matthew\",\"Last Name\":\"Lane\",\"Headline\":\"Strategic Marketing for Growth - Lead Gen | SEO | Paid Ads\",\"Location\":\"Chicago\",\"Current Title\":\"VP of Sales\",\"Current Company\":\"Straight North\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/mjlane11\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"mjlane8@gmail.com\"},{\"First Name\":\"Courtney\",\"Last Name\":\"Williams\\u2728\",\"Headline\":\"Business Development at The Martin Agency | The Marketing Academy 2024 Scholar | Co-Chair of the 4As National New Business Committee | Campaign US Inaugural Female Frontier Honoree | 2021 Business Insider Rising Star\",\"Location\":\"Atlanta\",\"Current Title\":\"VP, Head of Business Development\",\"Current Company\":\"The Martin Agency\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/courtlyndelle\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"courtney.jones027@gmail.com\"},{\"First Name\":\"Samantha\",\"Last Name\":\"Stout\",\"Headline\":\"Making connections that create solutions for healthcare marketers | Growth Leader\",\"Location\":\"New York City Metropolitan Area\",\"Current Title\":\"VP, Growth Leader\",\"Current Company\":\"WebMD Ignite\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/stoutsamantha\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"samanthastout@gmail.com\"},{\"First Name\":\"Kimberly\",\"Last Name\":\"OConnell-Calvo\",\"Headline\":\"Strategic CMO | Driving Digital Growth, Customer Engagement, and ROI | Transforming Brands for Success I Demand Generation\",\"Location\":\"Greater Orlando\",\"Current Title\":\"Chief Marketing Officer\",\"Current Company\":\"Media Culture\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/kimberlyoconnell\",\"Active Project\":\"Acceleration Partners - CRO (replied)||Gabrielle Bernstein CMO (archived)||SISU Head of Acquisition  (potential candidate)|||\",\"recommended_personal_email\":\"kocalvo@gmail.com\"},{\"First Name\":\"Kevin\",\"Last Name\":\"King\",\"Headline\":\"Agency Management. Digital & Social Media Marketing. Influencer Marketing. Crisis Communications. Strategic GTM Strategy. \",\"Location\":\"Los Angeles Metropolitan Area\",\"Current Title\":\"Chief of Staff\",\"Current Company\":\"Reign Maker Group\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/kevin-king-a1b50a\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"kingkevin@gmail.com\"},{\"First Name\":\"Sela\",\"Last Name\":\"Missirian\",\"Headline\":\"Integrated marketer, strategist, and exec with client- and agency-side experience. Passion for consulting and pitching new ideas.\",\"Location\":\"Atlanta\",\"Current Title\":\"EVP Strategy & Business Development\",\"Current Company\":\"The Partnership\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/selamissirian\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":null},{\"First Name\":\"Bill\",\"Last Name\":\"Hyde\",\"Headline\":\"Chief Marketing Officer at The Adcom Group\",\"Location\":\"Detroit Metropolitan Area\",\"Current Title\":\"Chief Marketing Officer\",\"Current Company\":\"The Adcom Group\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/bill-hyde-94b5096\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":null},{\"First Name\":\"Aaron\",\"Last Name\":\"Warshawsky\",\"Headline\":\"Vice President of Sales at Common Thread Collective\",\"Location\":\"Austin\",\"Current Title\":\"Vice President of Sales\",\"Current Company\":\"Common Thread Collective\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/aaronwarshawsky\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"warshawsky.aaron@gmail.com\"},{\"First Name\":\"Ian\",\"Last Name\":\"Stevenson\",\"Headline\":\"Vice President, Sales\",\"Location\":\"Downers Grove\",\"Current Title\":\"VP Sales\",\"Current Company\":\"Straight North, LLC\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/ianjamesstevenson\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"ianstevenson@gmail.com\"},{\"First Name\":\"Corey\",\"Last Name\":\"Smock\",\"Headline\":\"SVP, Business Development at Wasserman Creative\",\"Location\":\"Portland\",\"Current Title\":\"Senior Vice President of Business Development\",\"Current Company\":\"Wasserman\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/coreysmock\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":\"cmichaelsmock@gmail.com\"},{\"First Name\":\"Whitney\",\"Last Name\":\"Wortman\",\"Headline\":\"Growth & Business Development Consultant | Brand Builder | Connector\",\"Location\":\"New York\",\"Current Title\":\"Vice President, Business Development\",\"Current Company\":\"Siegel+Gale\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/whitneywortman\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"whitneywortman@gmail.com\"},{\"First Name\":\"Megan\",\"Last Name\":\"Owsik Lotterman\",\"Headline\":\"VP, East Coast Sales\",\"Location\":\"New York City Metropolitan Area\",\"Current Title\":\"VP, East Coast Sales\",\"Current Company\":\"Influential\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/megan-owsik-lotterman-3a811b7\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":null},{\"First Name\":\"Jeff\",\"Last Name\":\"Hirz\",\"Headline\":\"EVP, Business Development @ OuterBox\",\"Location\":\"Akron\",\"Current Title\":\"Executive Vice President of Business Development\",\"Current Company\":\"OuterBox\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/jeffhirz\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"jeffhirz@gmail.com\"},{\"First Name\":\"Peter\",\"Last Name\":\"Competello\",\"Headline\":\"Senior Vice President, Business Development @ Siegel+Gale\",\"Location\":\"New York\",\"Current Title\":\"Senior Vice President, Business Development\",\"Current Company\":\"Siegel+Gale\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/pcompetello\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"pcompetello@gmail.com\"},{\"First Name\":\"Mark\",\"Last Name\":\"Thrasher\",\"Headline\":\"\\ud83d\\udcc8Marketing Nerd - \\ud83d\\udc36Dog Dad - \\ud83c\\udfbfSki Enthusiast - Let's infuse AI & maturity to drive your growth\",\"Location\":\"Denver\",\"Current Title\":\"Vice President of Business Development\",\"Current Company\":\"Incubeta\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/mark-thrasher\",\"Active Project\":\"Acceleration Partners - CRO (replied)|Craftsy Acquisition Manager (uncontacted)\",\"recommended_personal_email\":\"mthrasher@att.net\"},{\"First Name\":\"Mike\",\"Last Name\":\"Cooney\",\"Headline\":\"Front Row Sales and Marketing\",\"Location\":\"Greater Indianapolis\",\"Current Title\":\"Vice President of Business Development\",\"Current Company\":\"Front Row Sales & Marketing\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/mike-cooney-37441a5\",\"Active Project\":\"Acceleration Partners - CRO (contacted)\",\"recommended_personal_email\":\"mikecooney@gmail.com\"},{\"First Name\":\"Ben\",\"Last Name\":\"Ledyard\",\"Headline\":\"MCI USA\",\"Location\":\"Ankeny\",\"Current Title\":\"Senior Vice President Sales\",\"Current Company\":\"MCI USA\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/ben-ledyard-6863aa13\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":\"benledyard@gmail.com\"},{\"First Name\":\"Mark\",\"Last Name\":\"Simon\",\"Headline\":\"Vice President Of New Business Development-Helping marketers brand & aggressively scale their customer base while adhering to media CAC goals and improving optimization & accountability. Performance & Acquisition focus.\",\"Location\":\"Glen Ellyn\",\"Current Title\":\"VP of  New Business Development\",\"Current Company\":\"Rain the Growth Agency\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/mark-simon-b874442\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"markbsimon@hotmail.com\"},{\"First Name\":\"Renee\",\"Last Name\":\"Lopez-Cantera, MBA\",\"Headline\":\"SVP Sales & Marketing at EKN Solutions Digital *Performance Media agency* Programmatic AI. Hyper-Growth Marketing for Agencies & CMO\\u2019s\",\"Location\":\"Miami-Fort Lauderdale Area\",\"Current Title\":\"SVP Sales & Marketing\",\"Current Company\":\"EKN Solutions\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/reneelopezcantera\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"reneerosen@hotmail.com\"},{\"First Name\":\"Jamie\",\"Last Name\":\"Elden\",\"Headline\":\"Chief Revenue Officer, Top 100 Global CRO AI SaaS Software Marketing. \",\"Location\":\"New York\",\"Current Title\":\"Chief Revenue Officer\",\"Current Company\":\"Listrak\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/jamieelden\",\"Active Project\":\"Acceleration Partners - CRO (replied)\",\"recommended_personal_email\":\"eldenjamie@gmail.com\"},{\"First Name\":\"Bea\",\"Last Name\":\"Iturregui\",\"Headline\":\"SVP, Creator Partnerships at Wasserman\",\"Location\":\"New York City Metropolitan Area\",\"Current Title\":\"SVP, Creator Partnerships\",\"Current Company\":\"Wasserman\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/in\\/beaiturregui\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":\"beaiturregui@gmail.com\"},{\"First Name\":\"FakePerson\",\"Last Name\":\"ForTesting\",\"Headline\":\"GuyWhoDoesntExist\",\"Location\":null,\"Current Title\":\"fake\",\"Current Company\":\"Enron\",\"Profile URL\":\"https:\\/\\/www.linkedin.com\\/404\\/\",\"Active Project\":\"Acceleration Partners - CRO (Not Contacted)\",\"recommended_personal_email\":\"kelly21@gmail.com\"}]"
          },
          "webhookUrl": "https://revelone.app.n8n.cloud/webhook/9ddc6dd0-d758-4b17-8ff0-efe8988e577f",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Turn to body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn to body": {
      "main": [
        [
          {
            "node": "Extract Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body": {
      "main": [
        [
          {
            "node": "Search for candidate in linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for candidate in linkedin": {
      "main": [
        [
          {
            "node": "If Candidate Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Candidate Exists": {
      "main": [
        [
          {
            "node": "Response for found contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If we have email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response for found contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response for created contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If we have email": {
      "main": [
        [
          {
            "node": "Create Contact w/Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact w/Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact w/Email": {
      "main": [
        [
          {
            "node": "Response for created contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response for created contact1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create Contact w/Email1": {
      "main": [
        [
          {
            "node": "Response for created contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5cdee5e-e12d-41a7-9fa6-341e8a2598f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a47ab1067daa53e5c47033af0df1b3d7e1619f4e573c9de3ef93857db021528"
  },
  "id": "bfUv5oVse5NNYp0D",
  "tags": [
    {
      "updatedAt": "2025-12-16T20:39:39.396Z",
      "createdAt": "2025-12-16T20:39:39.396Z",
      "id": "itl9uKP4xLgfUHKA",
      "name": "Bulk Ingest"
    }
  ]
}